body{
    background-color: beige;
}

div{
    border-style: solid;
    border-width: 1px;
    border-color: pink;
}

span{
    border: solid 1px cyan;
}

.inline, .partners{
    display: flex;
    flex-direction: row;
    padding-bottom: 0px;
}

#title{
    text-transform: uppercase;
}

.main-body{
    display: flex;
    flex-direction: row;
}


footer{
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: left;
    vertical-align: top;
}


#partners{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

#article{
    height: 120px;
    background-image: url("../assets/fr_max588x1680.jpg");
}

#whitebg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    max-height : 10%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

header{
    top: 0px;
}
nav{
    align-items: end;
    padding: 0px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

nav li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}